:root {
  --main-bg-color: rgb(173, 23, 123);
  --main-text-color: #1d1d1d;
  --main-text-nav-color: #ffffff;
  --hover-text-color: #dadada;
  --main-filter-br-hover: brightness(1.2);
  --main-filter-br-active: brightness(0.8);
  --main-secondary-color: rgb(173, 23, 123);
  width: 100%;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}