.recommended {
  max-width: 100%;
  min-width: 1092px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommended h2 {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: var(--main-secondary-color);
  color: var(--main-text-nav-color);
  font-family: system-ui;

}

.products {
  width: 1092px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.product{
  flex: 1 0 auto;
  margin: 0 50px;
}

.product img {
  height: 250px;
}
